@import "tailwindcss";

@theme {
  --color-fondo: #0A0A0A;
  --color-superficie: #1A1A1A;
  --color-acento: #B91C1C;
  --color-texto: #F5F5F4;
  --color-texto-secundario: #A8A29E;
  --color-borde: #3F3F3F;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-texto);
  background: var(--color-fondo-claro);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}